@font-face {
    font-family: 'digital-clock-font';
    src: url('public/alarm_clock.ttf');
}

* {
  box-sizing: border-box;
}

body {
  background-color: lightblue;
}

.unit {
  border: 3px solid black;
  border-radius: 25px;
  margin: auto;
  margin-top: 50px;
  text-align: center;
  max-width: 600px;
  height: 600px;
  background-color: #eeeee4;
}

.screen {
  border: 5px solid black;
  border-radius: 20px;
  margin: 25px;
  padding: 10px;
  height: 400px;
  background-color: black;
  font-family: 'digital-clock-font';
  color: green;
}

.clock {
  height: 15%;
  font-size: 30pt;
  padding-top: 5px;
}

.box-temperature {
  float: left;
  height: 85%;
  width: 50%;
  padding: 0px;
  font-size: 150pt;
  text-align: right;
  padding-top: 40px;
}

.box-celsius {
  float: left;
  height: 85%;
  width: 16.66%;
  padding-top: 70px;
  font-size: 250%;
}

.box-vertical-stack {
  float: right;
  width: 33.33%;
  height: 85%;
}

.box-vertical {
  height: 50%;
  padding-top: 25pt;
  text-transform: uppercase;
}

.controls {
  display: inline-grid;
  grid-template-columns: 25% 25% 25% 25%;
  height: 100px;
  margin: 25px;
  margin-top: 0px;
}

.button {
  display: table-cell;
  vertical-align: middle;
  border: 3px solid black;
  border-radius: 10px;
  width: 100px;
  height: 100px;
  margin-left: 7px;
  margin-right: 7px;
  text-align: center;
  text-transform: uppercase;
}
